/* style.css */
body, html {
    font-family: ‘cwTeXYen’, sans-serif;
    color: #9db8bf(--text-color);
    background-color: var(--background-color);

}

a {
    color: var(--link-color);
    transition: color 0.3s ease;
}

a:hover {
    color: var(--link-hover-color);
}

.navbar, .footer {
    background-color: var(--secondary-color-light);
}

.navbar-brand span, .footer .text-primary {
    color: var(--primary-color);
}

.footer {
    padding: 2rem;
    color: var(--text-color-light);
}

.footer a {
    color: var(--text-color-light);
}

.footer a:hover {
    color: var(--primary-color);
}

.btn-outline-primary {
    border-color: var(--primary-color);
    color: var(--primary-color);
    transition: all 0.3s ease;
}

.btn-outline-primary:hover {
    background-color: var(--primary-color);
    color: #9db8bf;
}

/* Custom styling for improved aesthetics */
.card-body {
    background-color: #f5dfe0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 1rem;
}

.accordion-item {
    border: none;
    margin-bottom: 1rem;
}

.accordion-item button {
    background-color: #d6fcff;
    color: #9db8bf;
    border: none;
    width: 100%;
    text-align: center;
    padding: 1rem;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.accordion-item button:hover {
    background-color: var(--link-hover-color);
}

.accordion-item .collapse {
    padding: 1rem;
    background-color: var(--background-color);
}

.min-vh-100 {
    min-height: 100vh;
}

.sidebar {
    background-color: var(--secondary-color-light);
    padding: 1rem;
    border-radius: 8px;
}

.sidebar .nav-link {
    color: var(--text-color-light);
    padding: 0.5rem 1rem;
    border-radius: 4px;
    margin-bottom: 0.5rem;
    transition: background-color 0.3s ease;
}

.sidebar .nav-link:hover {
    background-color: var(--primary-color);
}
.card {
    background-color: #d6fcff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    margin: 1rem 0;
    text-align: center;
}

.small-card {
    width: 100%; /* 默认占满父容器宽度 */
    max-width: 200px; /* 设置最大宽度以缩小卡片 */
    margin: auto; /* 使卡片居中对齐 */
}

.card .icon-large {
    font-size: 5rem; /* 调整这里来设置图标大小 */
    margin-bottom: 0.8rem;
    color: var(--primary-color); /* 可以设置图标颜色 */
}

.small-card-body {
    padding: 0.3rem; /* 缩小卡片内容区域的边距 */
}
.carousel-item img {
    border-radius: 8px;
    object-fit: cover;
    height: 300px; /* Adjust height as needed */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--primary-color); /* Customize carousel control icons */
}

.carousel-control-prev,
.carousel-control-next {
    width: 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: var(--primary-color);
}

.carousel-item {
    text-align: center;
}
.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px; /* 控制按钮之间的间距 */
}
 
  .container {
      text-align: center;
      margin-top: 50px;
  }

  .icon-circle {
      width: 200px;
      height: 200px;
      border-radius: 50%;
      background-color: #d6fcff;
      border: 5px solid #d6fcff; /* 藍色邊框 */
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }

  .icon-large {
      font-size: 20cqb;
      color: #6c757d;
  }

  .card-title-container {
      margin-top: 20px;
      display: inline-block;
      padding: 10px 20px;
      background-color: #d6fcff; /* 背景顏色 */
      color: #9db8bf; /* 字體顏色 */
      border-radius: 15px; /* 圓角矩形 */
      font-size: 20px;
      font-weight: bold;
  }
.bb{
    color: #007bff;
}
.container {
    text-align: center;
    margin-top: 50px;
}

#photo {
    width: 80%;
    max-width: 800px;
    height: auto;
    margin: 0 auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
}

.controls button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.controls button:focus {
    outline: none;
}

.progress {
    width: 80%;
    max-width: 800px;
    height: 10px;
    background-color: #ccc;
    margin: 20px auto;
    cursor: pointer;
}

.progress-filled {
    width: 0%;
    height: 100%;
    background-color: #2196F3;

}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 10px 0;
    font-family: ‘cwTeXYen’, sans-serif;
}


.custom-breadcrumb {
    width: 380px;
    height: 24px;
}

.custom-breadcrumb-1 {
    width: 480px;
    height: 24px;
}

.custom-breadcrumb-2 {
    width: 480px;
    height: 24px;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #9db8bf; /* 更改顏色 */
}

/* 預設樣式，適用於桌面電腦 */
.container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* 手機 (小於768px) 的樣式 */
  @media (max-width: 768px) {
    .container {
      max-width: 100%;
      padding: 0 15px; /* 添加左右內邊距 */
    }
  
    .navbar-brand {
      font-size: 30px; /* 減小字體大小 */
    }
  
    h1 {
      font-size: 24px; /* 調整標題大小 */
    }
  
    p {
      font-size: 16px; /* 調整段落文字大小 */
    }
  
    /* 圓形圖片調整大小 */
    .team img {
      max-width: 80%;
      border-radius: 100%;
    }
  }
  
  /* 平板設備 (768px 到 992px) 的樣式 */
  @media (min-width: 768px) and (max-width: 992px) {
    .container {
      max-width: 960px;
    }
  
    .navbar-brand {
      font-size: 35px;
    }
  
    h1 {
      font-size: 28px;
    }
  
    p {
      font-size: 18px;
    }
    @import url(https://fonts.googleapis.com/earlyaccess/cwtexyen.css);
    body{
      font-family: ‘cwTeXYen’, sans-serif;
    }
}

.card {
    box-shadow: none; /* 去掉陰影 */
    background-color: transparent; /* 讓背景透明 */

  }
  .card-body {
    padding: 2px; /* 調整內邊距 */
    border: 5px;
}

.card-img-top {
    width: 100%; /* 讓圖片寬度充滿卡片 */
    height: 250px; /* 調整圖片高度 */
    object-fit: contain; /* 確保圖片在縮小時不會被裁切，並保持原始比例 */
  }

  .badge-custom {
    background-color: #3f96ab; /* 你可以在這裡設置所需的顏色 */
    color: white; /* 文字顏色 */
  }
  .underline {
    text-decoration: underline;
}
.controls-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
  }
  
  .controls-container select {
    margin-right: 10px;
    padding: 5px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  .controls-container button {
    margin: 0 10px;
    padding: 8px 15px;
    font-size: 14px;
    border-radius: 5px;
  }
  
  #photo {
    width: 100%;
    max-width: 800px;
    display: block;
    margin: 50px auto;
  }
  
  .progress {
    width: 100%;
    max-width: 600px;
    height: 10px;
    background-color: #e0e0e0;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .progress-filled {
    height: 100%;
    background-color: #76c7c0;
    width: 0;
    border-radius: 5px;
  }
  
  audio {
    display: none;
  }
  .container {
    text-align: center;
  }
  .nav-item .nav-item .dropdown{
    color: #9db8bf !important;
  }


  .footer-logo {
    max-width: 100%; /* 確保圖片的最大寬度不超過容器的 100% */
    height: auto; /* 自動調整高度以保持比例 */
  }
  body {
    padding-top: 80px; /* 根據導覽列的實際高度調整 */
  }
  .page-one .header {
    background-color: lightblue;
}

.page-two .header {
    background-color: lightgreen;
}
.main-container .header .title {
  color: blue;
}
.navbar {
  background-color: #333;
  color: white;
  margin-bottom:0!important;
}

.breadcrumb {
  background-color: #f8f9fa;
  padding: 10px;
  margin-top: -25px !important; /* 移除上方的間距 */
}
.bookshelf {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 20px;
}

.book {
  width: 60px;
  height: 100px;
  background-color: #8b5e3c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  transition: transform 0.3s;
}

.book:hover {
  transform: scale(1.1);
}

.portfolio-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.portfolio-item img {
  width: 100%;
  height: 250px; /* 固定圖片高度 */
  object-fit: cover; /* 保持圖片比例 */
  margin-bottom: 5px; /* 圖片和文字間距 */
}

.portfolio-caption a {
  font-size: 20px;
  font-weight: bold;
  display: block;
  padding: 5px 0;
  color: #3f96ab; /* 根據設計需求調整顏色 */
  text-decoration: none;
}

.portfolio-caption a:hover {
  color: #007bff; /* 添加懸停效果 */
}

.back-to-top {
  position: fixed;
  display: none;
  right: 30px;
  bottom: 30px;
  z-index: 11;
  animation: action 1s infinite alternate;
  padding: 50px 50px; /* 增加內邊距以使按鈕更大 */
  font-size: 20px; /* 增加字體大小 */
  border-radius: 10px; /* 可以增加圓角 */
  transition: all 0.3s ease; /* 增加過渡效果 */
}

.back-to-top:hover {
  background-color: #9db8bf ; /* 滑鼠懸停時的背景顏色 */
}
.navbar{
  background-color: #f4c6d3;
}

.navbar-custom .nav-link {
  color: #9db8bf; /* 導覽列連結的文字顏色 */
}

.navbar-custom .nav-link:hover {
  color: #9db8bf; /* 滑鼠懸停時的文字顏色 */
}

.navbar-custom .dropdown-menu {
  background-color: #b2fdf3; /* 下拉選單的背景顏色 */
}

.navbar-custom .dropdown-item {
  color: #ffffff;
}

.navbar-custom .dropdown-item:hover {
  background-color: #FFD700; /* 下拉選單項目懸停時的背景顏色 */
  color: #000;
}

.bg-secondary {
  background-color: #f5dfe0 !important;/* 導覽列顏色 */
}

.bg-light {
  background-color: #f5dfe0 !important;/* 下方導覽列顏色 */
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-family:‘cwTeXYen’, sans-serif;
  font-weight: bold;
  line-height: 1.2;
  color: #3f96ab !important;
} /* 標題顏色 */

body {
  font-family: ‘cwTeXYen’, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #3f96ab;
} /* 內文顏色 */

.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #3f96ab;
}

.text-dark {
  color: #3f96ab !important;
}

.navbar-light .navbar-nav .nav-link {
  padding: 30px 15px;
  color: #3f96ab !important;
  outline: none;
}

.text-white {
  color: #3f96ab !important;
}/* 下方導覽列文字顏色 */

.text-primary {
  color:  #3f96ab !important;
}/* 下方導覽列標題顏色 */

.about-timeline {
  background-color: #f9f9f9; /* 整體背景色 */
  padding: 50px 0; /* 上下內邊距 */
}

.bg_l_gray {
  background-color: #e9ecef; /* 浅灰色背景 */
}

.title {
  position: sticky;
  top: 0;
  background-color: #ffffff; /* 標題背景 */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* 標題陰影 */
  padding: 20px;
  border-radius: 8px; /* 圓角 */
}

.heading {
  font-size: 24px;
  color: #333; /* 標題顏色 */
  margin-bottom: 10px; /* 標題下邊距 */
}

.timeline-list {
  list-style: none; /* 去除列表樣式 */
  padding: 0; /* 去除內邊距 */
}

.item {
  margin-bottom: 30px; /* 每個項目之間的間距 */
  position: relative; /* 為定位的子元素提供上下文 */
}

.year h2 {
  font-size: 28px; /* 年份標題字體大小 */
  color: #007bff; /* 年份標題顏色 */
  margin-bottom: 15px; /* 年份標題下邊距 */
}

.date {
  background-color: #007bff; /* 日期背景顏色 */
  color: #fff; /* 日期文字顏色 */
  border-radius: 5px; /* 日期圓角 */
  font-weight: bold; /* 日期加粗 */
  font-size: 16px; /* 日期字體大小 */
}

.content h5 {
  font-size: 20px; /* 內容標題字體大小 */
  color: #343a40; /* 內容標題顏色 */
  margin-top: 0; /* 去除內容標題上邊距 */
}

.content p {
  font-size: 16px; /* 內容文字字體大小 */
  color: #555; /* 內容文字顏色 */
  margin-top: 5px; /* 內容文字上邊距 */
}

.item::before {
  content: ''; /* 添加虛擬元素 */
  position: absolute;
  left: -20px; /* 垂直線的位置 */
  top: 10px; /* 垂直線的高度 */
  bottom: 10px; /* 垂直線底部距離 */
  width: 2px; /* 垂直線寬度 */
  background-color: #007bff; /* 垂直線顏色 */
}

.row {
  align-items: center; /* 垂直對齊內容 */
}

body {
  background-color: #f4ece0; /* 這裡可以更改為你想要的背景顏色 */
  background-size: contain; /* 確保背景圖案縮放適合 */
  }    
  .btn-green{
    background-color: #81b4b2 !important;
    color: #1c302d !important;
    font-family: Itim;
    border-color: #4b5756;
    border-radius: 60px;
  }
  .f4efdc{
    background-color: #f6f1dd
  }
  /* 背景遮罩 */
.result-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 半透明背景 */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* 確保在最上層 */
}

/* 彈窗內容 */
.modal-content {
  background: #fff; /* 白色背景 */
  padding: 20px; /* 內距 */
  border-radius: 8px; /* 圓角 */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* 陰影 */
  max-width: 90%; /* 限制寬度 */
  width: 400px; /* 固定寬度 */
  text-align: center; /* 文字置中 */
}
.small-title h3 {
  font-size: smaller;
}
.img-200 {
  height: auto; /* 自動調整高度 */
  max-width: 300px; /* 如果需要限制寬度 */
  object-fit: contain; /* 保持圖片比例不變 */
  display: inline-block; /* 確保圖片不換行 */
  vertical-align: middle; /* 垂直對齊 */
  
}

.portfolio-item img{

    max-height: 200px; /* 設定圖片的最大高度 */
    width: 200px; /* 自動調整寬度以保持比例 */
    object-fit: contain; /* 保證圖片完整顯示 */
    display: block; /* 防止圖片默認內聯行為影響布局 */
    margin: 0 auto; /* 讓圖片在父容器內水平居中 */
}
